@charset "utf-8";

*{ box-sizing: border-box; margin: 0 }

body {
    font-family: "맑은 고딕","굴림";
    background-color:#FFF; color:#222328;
}


#contanier {
    width:1000px;
    margin-right: auto;  /* 왼쪽정렬 */
    display: flex;
}

#header {
    width:200px;
    background-color:#3497d9;   
}

#logo {
    width:200px;
    height:40px;
    margin-bottom:30px;
}

#navi {
    padding:5px;
    width:100%;
}

#navi ul { list-style: none; padding:0 }

a { text-decoration:none; color:#222328 }

.main {
    background:#80c8f8;
    font-size:1.2rem;
    line-height: 2rem;
    text-align: center;
}

.main:hover { background:#1894e7 }

.subMenu {
    background:#FFF;
    font-size:1rem;
    display: none;
}

.sub:hover { background:#808cf8 }


#rightBox {
    width:800px;
}

#secB {  /* 슬라이드 */
    width:100%; height: 350px;
    position: relative;
    overflow: hidden;
}

.slide { 

    position:absolute;
    top:0; left:0;
    display: none;
}

#secB>a:first-child >.slide { display: block }


/*----------------------------- secC -----------------------------*/
#secC {
    width:100%; height: 200px;
    display: flex;
    background:#FFF;
}

#secC .box1 {
    width:300px;
    padding:5px;
}

.button {
    border:none; background:#777;
    width:100px; line-height: 40px;
    text-align: center;
    color:#FFF;
    cursor: pointer;
}

.active { background:#FFF; color:#222328 }

#notice {
    background:#FFF;
    list-style: none;
    padding:0;
    font-size:0.8rem;
}

#notice>li {
    padding:5px;
    display: flex;
    justify-content: space-between;
}

#nocite>li>a {
    text-decoration: none;
    color:#222328;
}

#nocite>li>a:hover { text-decoration: underline }

#gallery {
    background:#FFF;
    height:150px;
    text-align: center;
    display: none;
}

#gallery img {
    width:80px;
    margin:10px 5px;
}




